.hero {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #fff;
  $hero-background-bottom: #fff;
  $hero-color: $dark-gray;
  $gradient-angle: 10deg;
  $hero-image: 'paris-trees.png';

  @include background(asset-url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    opacity: 0.5;
  }
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      background: rgba(255,255,255,0.75);
      h1 {
        font-size: 3em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 4em;
        }
      }

      p {
        span {
          background: rgba(255,255,255,0.75);
          color: $blue;
        }
        font-size: 1.4em;
        font-weight: 200;
        padding-bottom: 20px;
        line-height: 1.4em;
        margin: 0 auto 2em auto;

        @include media($large-screen) {
          font-size: 2em;
          max-width: 80%;
        }
      }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}
