<li class="nav-link">
  <a href="http://blog.browntreelabs.com" target="_blank">Blog</a>
</li>
<li class="nav-link">
  <%= link_to "Contact", new_lead_path %>
</li>
<li class="nav-link"><%= link_to 'About', page_path('about') %></li>
<li class="nav-link"><a href="javascript:void(0)">My Work</a></li>
