<%= render partial: "refills/parallax" %>
<div class="container landing">
  <article>
    <h2>My Experience</h2>
    <p>
    I received a Bachelor's in Computer Engineering from Umass Lowell in 2008. Shortly after receiving my degree, I jumped right into the startup world. Working in various roles at various companies.
    </p>
    <p>
    At Gameface Media, I was the first hire for an exciting new startup in the Boston area. I took over their software suite after the MVP (minimally viable product) was developed at a consultancy in the area. I immediately hit the ground running at Gameface Media, transforming the MVP into a fully fledged software solution for the whole company. I architected and successfully built and administrative application to handle day-to-day operations, a scheduling application to handle scheduling and shooting events, and a tagging application to handle parallel tagging of images as they come in real time. Through my efforts gameface was able to scale from 2-3 events per week to over 30-40 per week (scaled over 1000% in most notable statistics). I also hired a junior developer and acted as team lead, architect, and technical director, reporting directly to the CTO.
    </p>
    <h2>BrownTree Labs</h2>
    <p>
    Since working at Gameface, I've been consulting with multiple clients in a variety of roles and business problems. The variety of work through BrownTree has been amazing. Most recently I worked with a small startup on a custom Alexa integration!
    </p>
    <h2>Tools and knowledge</h2>
    <p>
    Personally I love working in the whole web development stack. I am what you would call a "full stack engineer". Most recently, I've been working with:
    <h3>Frontend</h3>
    <ul>
      <li>ES6</li>
      <li>EmberJS</li>
      <li>BackboneJS</li>
      <li>Html5</li>
      <li>Sass</li>
    </ul>
    <h3>Backend</h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>Elixir</li>
      <li>Phoenix</li>
      <li>Phoenix</li>
      <li>Postgres</li>
      <li>Redis</li>
    </ul>
    </p>
  </article>
</div>
