<%= render partial: "refills/parallax" %>
<div class="container landing">
  <article>
    <h2>Early Years</h2>
    <p>
    I received a Bachelor's in Computer Engineering from Umass Lowell in 2008. Shortly after graduating, I landed a job as a QA engineer in a local startup focused on virtualization technology.
    </p>

    <h2>Development Work</h2>
    <p>
    At Gameface Media, I was the first hire for an exciting new startup in the Boston area. I took over their software suite after the MVP (minimally viable product) was developed at a consultancy in the area. I immediately hit the ground running at Gameface Media, transforming the MVP into a fully fledged software solution for the whole company. I architected and successfully built and administrative application to handle day-to-day operations, a scheduling application to handle scheduling and shooting events, and a tagging application to handle parallel tagging of images as they come in real time. Through my efforts gameface was able to scale from 2-3 events per week to over 30-40 per week (scaled over 1000% in most notable statistics). I also hired a junior developer and acted as team lead, architect, and technical director, reporting directly to the CTO.
    </p>

    <h2>EchoBind and Browntree Labs</h2>
    <p>
    Currently I work in conjunction with EchoBind to deliver awesome products, well tested code, and great service to a variety of clients. I love writing excellent, well tested code. And I couldn't see myself doing anything else.
    </p>
  </article>
</div>
