  <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
    </div>
      <ul>
        <%= render partial: "shared/links" %>
        <li class="nav-link"><a href="javascript:void(0)">About</a></li>
      </ul>

      <div class="footer-secondary-links">
        <ul>
        </ul>

        <ul class="footer-social">
          <li><a href="https://twitter.com/cpowrox">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a></li>
          <li><a href="https://www.youtube.com/user/cpow85">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
          </a></li>
        </ul>
      </div>
  </footer>

