<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <i class="fa fa-thumbs-up fa-lg"></i>
    </div>
    <div class="bullet-content">
      <h2>Staff Augmentation</h2>
      <p>Need to quickly scale up your team to meet deadlines? We can help.</p>
      </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <i class="fa fa-camera-retro fa-lg"></i>
    </div>
    <div class="bullet-content">
      <h2>Mentoring and Training</h2>
      <p>We are experienced, and dedicated mentors. Let us turn your junior devs into rockstars.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <i class="fa fa-cogs fa-lg"></i>
    </div>
    <div class="bullet-content">
      <h2>Process Improvement</h2>
      <p>With a large amount of experience from release engineering, through managing teams of developers, we can handle your process improvement needs</p>
    </div>
  </li> 
</ul>
